<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <style>
        body {
            background-color: #1a1b1d;
            color: #bcbcbe;
            font-family: Arial;
        }

        hr {
            background: url("http://static-ptl-ru.gcdn.co/static/3.35.6/common/css/scss/content/hrs/img/delimeter.png") no-repeat center top;
            border: none;
            height: 2px;
            display: block;
            overflow: hidden;
        }

        h2 {
            color: #fff;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css"/>
</head>

<body>
<br>
<div th:utext="${content}"></div>
<script>
    Fancybox.bind('img', {});
</script>
</body>
</html>