
<html>
<head>
	<meta charset="utf-8">
	<style type="text/css">body {
		font-family:"Museo Sans Cyrl",sans-serif;
		color:#fff;
		font-size:12px;
		line-height:24px;
		font-weight:300;
		min-height:100%;
		position:relative;
		background:#0e0f0f;
		overflow-y:scroll
	}
	</style>
</head>
<body>

	<table border="0" cellpadding="1" cellspacing="1" style="width: 100%; font-size:12px;">
		<tbody>
		<tr>
			<td colspan="2"><b th:text="${itemEntity.title}"></b></td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td style="width: 85px;"><img alt="" height="84" th:src="'/base/itemEntities/icons/' + ${itemEntity.icon}" width="84"></td>
			<td style="width: 62px;"><img alt="" height="158" th:src="'/base/itemEntities/icons/' + ${itemEntity.icon}" width="60"></td>
			<td colspan="1" rowspan="2" style="vertical-align: top;">
				<p th:text="${enc.desc}"></p>
				<p><i><cite th:text="${enc.content}"></cite></i></p>
			</td>
		</tr>
		<tr>
			<td colspan="2">&nbsp;</td>
		</tr>
		<tr>
			<td colspan="3" style="width: 50%; text-align: center;"><b>Свойства</b></td>
		</tr>
		<tr>
			<td colspan="2" style="width: 50%;">
				<table border="0" cellpadding="0" cellspacing="0" style="width: 100%; font-size: 12px;">
					<tbody>
					<tr>
						<td><b>Ожог:</b></td>
						<td th:text="${itemEntity.thermal_pr}"></td>
					</tr>
					<tr>
						<td><b>Электрошок:</b></td>
						<td th:text="${itemEntity.electric_pr}"></td>
					</tr>
					<tr>
						<td><b>Удар:</b></td>
						<td th:text="${itemEntity.damage_pr}"></td>
					</tr>
					<tr>
						<td><b>Вес:</b></td>
						<td th:text="${itemEntity.weight} +' кг'"></td>
					</tr>
					</tbody>
				</table>
			</td>
			<td>
				<table border="0" cellpadding="0" cellspacing="0" style="width: 100%; font-size:12px;">
					<tbody>
					<tr>
						<td><b>Пси:</b></td>
						<td th:text="${itemEntity.psy_pr}"></td>
					</tr>
					<tr>
						<td><b>Хим. Ожог:</b></td>
						<td th:text="${itemEntity.chemical_pr}"></td>
					</tr>
					<tr>
						<td><b>Радиация:</b></td>
						<td th:text="${itemEntity.radio_pr}"></td>
					</tr>
					<tr>
						<td><b>Цена:</b></td>
						<td th:text="${itemEntity.price} + ' Ракушек'"></td>
					</tr>
					</tbody>
				</table>
			</td>
		</tr>
		</tbody>
	</table>
</body>
</html>


