<html lang="RU">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/enc.css}" rel="stylesheet"/>
    <title>Список</title>
</head>
<body>
<th:block th:each="i : ${items}">
    <table>
        <tbody>
        <tr>
            <td style="text-align: center;">
                <b><a th:href="@{'/enc/item/' + ${i.id}}" th:text="${i.title}"></a></b></td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td style="width: 120px; text-align: center;"><a th:href="@{'/enc/item/' + ${i.id}}">
                <img th:src="@{'/base/items/icons/' + ${i.icon}}"/></a></td>
            <td th:text="${i.description}"></td>
        </tr>
        </tbody>
    </table>
    <br>
</th:block>
</body>
</html>

