<html>
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/enc.css}" rel="stylesheet"/>
    <title>Типы</title>
</head>
<body link="#d8d8da" vlink="#d8d8da" alink="#d8d8da">
<th:block th:each="i : ${types}">
    <table border="0" cellpadding="5" cellspacing="1" style="width:100%;">
        <tbody>
        <tr>
            <td style="text-align: center;"><b><a th:href="@{'/enc/' + ${i}}" th:text="${i.title}"/></b></td>
            <td>&nbsp;</td>
        </tr>
        </tbody>
    </table>
    <br>
</th:block>
</body>
</html>

