<h2>Статистика</h2>
<h1>НОВАЯ ВЕРСИЯ БЕЗ РЕГИСТАРЦИИ И СМС <a href="https://admin.artux.net/">ЗДЕСЬ</a></h1>
<table class="table">
    <tbody>
    <tr>
        <td><b>Пользователей</b></td>
        <td th:text="${totalRegistrations}"></td>

        <td><b>Регистраций за сутки</b></td>
        <td th:text="${todayRegistrations}"></td>
    </tr>
    <tr>
        <td><b>Время на сервере</b></td>
        <td th:text="${#temporals.format(serverTime, 'dd-MM-yyyy HH:mm')}"></td>
    </tr>
    <tr>
        <td><b>Онлайн за сутки</b></td>
        <td th:text="${todayOnline}"></td>
    </tr>
    <tr>
        <td><b>Онлайн сейчас</b></td>
        <td th:text="${nowOnline}"></td>
    </tr>
    </tbody>
</table>
<hr>
</th:block>
