
<!DOCTYPE html>

<html>
<head th:insert="head"/>
<body>
<div class="container">
    <div class="header"><img src="https://artux.net/favicon.ico" style="height: 50px"></div>
    <div th:insert="sidebar"/>
    <div class="content">
        <form name="addArticle" method="post" action="#" th:action="@{/utility/articles}" th:object="${article}">
            <input type="text" th:field="*{title}" th:value="${article.title}" placeholder="Название"/>
            <input type="text" th:field="*{image}" th:value="${article.image}" placeholder="Ссылка на картинку"/>
            <input type="text" th:field="*{description}" th:value="${article.description}" placeholder="Описание"/>
            <input type="text" th:field="*{tags}" th:value="${article.tags}" placeholder="Теги через запятую"/>
            <textarea name="content" th:field="*{content}" th:value="${article.content}" id="editor"></textarea>
            <input type="hidden" th:field="*{id}" th:value="${id}" />
            <button type="submit">Добавить/изменить статью</button>
        </form>

        <script type="text/javascript">
            var editor = new Jodit('#editor', {
                uploader: {
                    url: 'https://api.artux.net/pda/files'
                },
                "language": "en",
                "theme": "dark",
                "disablePlugins": "about"
            });
        </script>
    </div>
    <div class="footer">${footer_version}</div>
</div>
</body>
</html>