<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <style>
        body {
            background-color: #1a1b1d;
            color: #bcbcbe;
            font-family: Arial;
        }
        hr { background: url("http://static-ptl-ru.gcdn.co/static/3.35.6/common/css/scss/content/hrs/img/delimeter.png") no-repeat center top;
            border: none;
            height: 2px;
            display: block;
            overflow: hidden;}
        h2 {
            color: #fff;
        }
    </style>
</head>

<body>
<table border="0" cellpadding="1" cellspacing="1" style="width: 100%">
    <tbody>
    <tr>
        <td style="width: 15px;"><img alt="" height="15" src="https://files.artux.net/static/images/news/icons/category.png" width="15"></td>
        <td th:text="${tags}"/>
        <td style="width: 15px;"><img alt="" src="https://files.artux.net/static/images/news/icons/date.png"></td>
        <td th:text="${date}"/>
        <td style="width: 15px;"><img alt="" height="15" src="https://files.artux.net/static/images/news/icons/comments.png" width="15"></td>
        <td th:text="${comments}"/>
    </tr>
    </tbody>
</table>
<br>
<div th:utext="${content}"></div>
</body>

</html>