<script type="text/javascript" th:inline="javascript">
    var stompClient = null;

    function setConnected(connected) {
        $("#connect").prop("disabled", connected);
        $("#disconnect").prop("disabled", !connected);
        if (connected) {
            $("#conversationEntity").show();
        } else {
            $("#conversationEntity").hide();
        }
        $("#greetings").html("");
    }

    function connect() {
        const socket = new SockJS('/pdanetwork/chat');
        stompClient = Stomp.over(socket);
        stompClient.connect({}, function (frame) {
            setConnected(true);
            console.log('Connected: ' + frame);
            stompClient.subscribe('/app/topic/catch', function (message) {
                addMessage(JSON.parse(message.body));
            });
            stompClient.subscribe('/topic/messages', function (messages) {
                messages = JSON.parse(messages.body);
                console.log("messages " + messages.length)
                for (let i = 0; i < messages.length; i++){
                    console.log(i);
                    addMessage(messages[i]);
                }
            });
            stompClient.send("/app/send", {}, 'test message');
        });
    }

    function clear(){

    }

    function disconnect() {
        if (stompClient !== null) {
            stompClient.disconnect();
        }
        setConnected(false);
        console.log("Disconnected");
    }

    function sendMessage() {
        stompClient.send("/app/send", {}, $("#input_text").val());
    }

    $(function () {
        $("form").on('submit', function (e) {
            e.preventDefault();
        });
        $("#connect").click(function () {
            connect();
        });
        $("#disconnect").click(function () {
            disconnect();
        });
        $("#send").click(function () {
            sendMessage();
        });
    });

    function addMessage(message) {
        var spn = document.createElement('span');
        spn.innerHTML =
            "            <tbody>\n" +
            "            <tr>\n" +
            "                <td>" + message.login + " PDAID #" + message.pdaId + "</td>\n" +
            "            </tr>\n" +
            "            <tr>\n" +
            "                <td>\n" +
            "                    <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"width: 100%\">\n" +
            "                        <tbody>\n" +
            "                        <tr>\n" +
            "                            <td>" + message.content + "</td> <br>\n" +
            "                            <p><td>" + new Date(message.timestamp).toString() + "</td></p>\n" +
            "                        </tr>\n" +
            "                        </tbody>\n" +
            "                    </table>\n" +
            "                    <p align=\"center\">" +
            "" + "<input type=\"submit\" value=\"Удалить\" onclick=\"post('/pda/chat/delete/" + message.timestamp + "',{});\">" +
            "" + "<input type=\"submit\" value=\"Бан на час\" onclick=\"post('/pda/chat/ban/" + message.pdaId + "',{});\">" +
            "                </td>\n" +
            "            </tr>\n" +
            "            </tbody>\n" +
            "        <hr>";
        document.getElementById('messages').appendChild(spn);
    }
</script>

<h2>Чат</h2>
<div>
    <button id="connect" onclick="connect();">Connect</button>
    <button id="disconnect" disabled="disabled" onclick="disconnect();">Disconnect</button>
</div>
<div style="height: 400px; overflow: auto;">

    <table id="messages" border="0" cellpadding="1" cellspacing="1" style="width: 100%">

    </table>
</div>
<p>Сообщение<Br>
    <textarea name="comment" cols="40" rows="3" id="input_text"></textarea></p>
<p><input type="submit" value="Отправить" onclick="sendMessage()">
    <input type="reset" value="Очистить">
</p>
