<H1>Использование обработчика команд</H1>
<p>Ниже представлены команды, позволяющие выполянть различные действия с персонажем в контексте прохождения историй.</p>
<p>С помощью команд, можно задать параметры, значения, репутацию, заметки, деньги, предметы, статусы прохождения
    сюжета и выполнить сброс.</p>
<h2>Синтаксис</h2>
<code>{
    "actions":{
        "команда":["набор1","набор2"]
        }
    }</code>
<p>Наборы могут разделяться двоеточием ':'</p>
<br>
<h2>Команда add</h2>
<p>В зависимотсти от структуры набора, выполняет добавление предмета, значения или параметра.</p>
<code>"2:2"</code> <p>Выполнит добавление предмета с id 2 в количестве 2 штук, то же, что и add_items</p>
<code>"value:2"</code> <p>Выполнит добавление значения 'value' = 2, то же, что и add_value</p>
<code>"param"</code> <p>Добавление параметра 'param', то же, что и add_param</p>
<br>
<h2>Команда add_param</h2>
<p>Выполняет добавление параметра.</p>
<code>"param"</code> <p>Добавление параметра 'param'</p>
<br>
<h2>Команда add_value</h2>
<p>Выполняет добавление значения. Если значение уже присутствует, то к нему применится операция сложения.</p>
<code>"value:2"</code> <p>Добавит к значению 'value' 2</p>
<br>
<h2>Команда add_items</h2>
<p>Выполняет добавление предмета. Предметы доступны в энциклопедии, id будет указан в конце url страницы предмета.
    Если предмет уже присутствует, то к нему применится операция сложения. Оружие и броня не складывается.</p>
<code>"3:2"</code> <p>Создаст новый предмет, так как оружие (id=3 относится к пистолетам) не складывается.</p>

<br>
<h2>Команда remove</h2>
<p>Удаляет предметы, значения и параметры.</p>
<code>"3:2"</code> <p>Удалит предмет в количестве 2 штук. Необходимо заметить, что будут удалены все предметы с таким id.</p>
<code>"valueOrParam"</code> <p>Удалит значение и параметр 'valueOrParam'</p>

<br>
<h2>Команда =</h2>
<p>Задает значение</p>
<code>"3:2"</code> <p>Задаст значение c именем '3'</p>

<br>
<h2>Команда +</h2>
<p>Добавляет репутацию в группе или значение.</p>
<p>Набор для группы выглядит как 'relation_1:5'</p>
<p>Где 1 - номер группы, 5 - номинальное значение репутации.
Дальше 5 попадает под формулу Репутация += номинал за квест Х (0.5-(0.5 Х rep/max_rep)) +0.5 Х номинал за квест</p>
<h3>Виды групп (название : номер)</h3>
<th:block th:each="i : ${gangs}">
    <table>
        <tbody>
        <tr>
            <h4 th:text="${i.name + ':' + i.id}"></h4>
        </tr>
        </tbody>
    </table>
    <br>
</th:block>
<p>Иначе команда работает как add_value.</p>

<br>
<h2>Команда -</h2>
<p>Команда берет отрицательное значение от заданного положительного, в остальном аналогична '+'</p>
<code>"relation_1:2"</code> <p>Вычтет номинальные 2 из репутации.</p>

<br>
<h2>Команда *</h2>
<p>Умножение значения</p>
<code>"value:2"</code> <p>Умножит 'value' на 2</p>

<br>
<h2>Команда money</h2>
<p>Добавляет и вычитает денежные средства</p>
<code>"-1000"</code> <p>Вычтет 1000 RU</p>
<code>"1400"</code> <p>Добавит 1400 RU</p>

<br>
<h2>Команда xp</h2>
<p>Добавляет и вычитает опыт</p>
<code>"-1000"</code> <p>Вычтет 1000 XP</p>
<code>"1400"</code> <p>Добавит 1400 XP</p>

<br>
<h2>Команда note</h2>
<p>Создает заметку</p>
<code>"title:content"</code> <p>Создаст соответствующую заметку</p>
<code>"content"</code> <p>Создаст заметку с названием 'Новая заметка' и содержанием 'content'</p>


<br>
<h2>Команда achieve</h2>
<p>**В разработке**</p>

<br>
<h2>Команда reset</h2>
<p>Если наборы отсутствуют, сброс информации о прохождении, установка денежных средств в 0 RU</p>
<p>В наборах:</p>
<code>"2"</code> <p>Сбросит историю 2 в 1 главу, 0 стадию</p>
<code>"relation_1"</code> <p>Установит отношение к группировке 1 в 0.</p>

<br>
<h2>Команда reset_current</h2>
<p>Сбросит текующую историю в 1 главу, 0 стадию. В наборах не нуждается.</p>

<br>
<h2>Команда set</h2>
<p>Устанавливает персонажа в истории</p>
<code>"story:0:1:2"</code> <p>Задаст состояние проходения 0 истории на 1 главу, 2 стадию</p>
