<script type="text/javascript" th:inline="javascript">

    /*<![CDATA[*/

    var url = /*[[${chatAddress}]]*/ 'wss://api.artux.net/pda/chat/';

    var socket;

    function connect() {
        socket = new WebSocket(url);

        socket.onopen = function () {
            console.log('session opened.');
            var window = document.getElementById("messages");
            window.innerHTML = '';
        };

        socket.onclose = function (event) {
            setTimeout(function () {
                console.log('reconnect.');
                connect();
            }, 1000);
        };

        socket.onmessage = function (event) {
            addRow(event.data);
        };

        socket.onerror = function (error) {
            alert("Ошибка " + error.message);
            socket.close();
        };

        function addRow(data) {
            var message = JSON.parse(data);
            if ("time" in message) {
                addMessage(message);
            } else {
                document.getElementById('messages').innerHTML = '';
                for (var i = 0; i < message.length; i++) {
                    addMessage(message[i]);
                }
            }

            var window = document.getElementById("messages");
            window.scrollTop = window.scrollHeight;
            if (window.childElementCount > 50) {
                window.removeChild(window.firstChild);
            }
        }
    }

    function post(path, params, method = 'post') {

        const form = document.createElement('form');
        form.method = method;
        form.action = path;

        for (const key in params) {
            if (params.hasOwnProperty(key)) {
                const hiddenField = document.createElement('input');
                hiddenField.type = 'hidden';
                hiddenField.name = key;
                hiddenField.value = params[key];

                form.appendChild(hiddenField);
            }
        }

        document.body.appendChild(form);
        form.submit();
    }

    function addMessage(message) {
        var spn = document.createElement('span');
        spn.innerHTML =
            "            <tbody>\n" +
            "            <tr>\n" +
            "                <td>" + message.senderLogin + " PDAID #" + message.pdaId + "</td>\n" +
            "            </tr>\n" +
            "            <tr>\n" +
            "                <td>\n" +
            "                    <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"width: 100%\">\n" +
            "                        <tbody>\n" +
            "                        <tr>\n" +
            "                            <td>" + message.message + "</td>\n" +
            "                            <p><td>" + new Date(message.time).toString() + "</td></p>\n" +
            "                        </tr>\n" +
            "                        </tbody>\n" +
            "                    </table>\n" +
            "                    <p align=\"center\">" +
            "" + "<input type=\"submit\" value=\"Удалить\" onclick=\"post('/pda/chat/delete/" + message.time + "',{});\">" +
            "" + "<input type=\"submit\" value=\"Бан на час\" onclick=\"post('/pda/chat/ban/" + message.pdaId + "',{});\">" +
            "                </td>\n" +
            "            </tr>\n" +
            "            </tbody>\n" +
            "        <hr>";
        document.getElementById('messages').appendChild(spn);
    }

    connect();

    function sendMessage() {
        socket.send(document.getElementById("input_text").value);
    }

    function helpChat() {
        alert("\n" +
            "`0` - Одиночки\n" +
            "\n" +
            "`1` - Бандиты\n" +
            "\n" +
            "`2` - Военные\n" +
            "\n" +
            "`3` - Свобода\n" +
            "\n" +
            "`4` - Долг\n" +
            "\n" +
            "`5` - Монолит\n" +
            "\n" +
            "`6` - Наёмники");
    }

    /*]]>*/
</script>

<h2>Чат</h2>

<div style="height: 400px; overflow: auto;">

    <table id="messages" border="0" cellpadding="1" cellspacing="1" style="width: 100%">

    </table>
</div>
<p>Сообщение<Br>
    <textarea name="comment" cols="40" rows="3" id="input_text"></textarea></p>
<p><input type="submit" value="Отправить" onclick="sendMessage()">
    <input type="reset" value="Очистить">
    <input type="reset" value="Переподключиться" onclick="connect()">
</p>
