<div class="sidebar">
    <p th:text="${'Вы вошли как ' + username}"/>
    <p th:text="${'Роль ' + role}"/>
    <b><p><a th:href="@{/utility}">Статистика</a></p></b>
    <p><a th:href="@{/utility/chat}">Чат</a></p>
    <p><a th:href="@{/utility/articles}">Лента</a></p>
    <p><a th:href="@{/utility/users}">Профили</a></p>
    <p><a th:href="@{/utility/settings}">Настройки</a></p>
    <p><a th:href="@{/utility/reports}">Репорты</a></p>
    <p><a th:href="@{/utility/logs}">Логи</a></p>
    <p><a th:href="@{/swagger-ui/}">Swagger</a></p>
    <p><a href="/manager">Tomcat Manager</a></p>
</div>