<div class="sidebar">

    <a th:href="@{/utility}" class="bar-item" align="center">
        <img src="https://artux.net/favicon.ico" style="align:center; width: 50px; height: 50px;">
        <h3 class="heading">PDA Network</h3>
    </a>

    <p th:text="${'Вы вошли как ' + user.login}"></p>
    <p th:text="${'Роль ' + user.role}"></p>
    <a th:href="@{/utility}" class="bar-item">Статистика</a>
    <a th:href="@{/utility/chat}" class="bar-item">Чат</a>
    <a th:href="@{/utility/articles}" class="bar-item">Лента</a>
    <a th:href="@{/utility/quest}" class="bar-item">Сюжет</a>
    <a th:href="@{/utility/users}" class="bar-item">Профили</a>
    <a th:href="@{/utility/settings}" class="bar-item">Настройки</a>
    <a th:href="@{/utility/reports}" class="bar-item">Репорты</a>
    <a th:href="@{/utility/logs}" class="bar-item">Логи</a>
    <a th:href="@{/utility/help}" class="bar-item">Обработчик команд</a>
    <a th:href="@{/swagger-ui/index.html}" class="bar-item">Swagger</a>
    <a th:href="@{/enc}" class="bar-item">Энциклопедия</a>

    <div class="copyright">
        <span>Artux © 2023</span>
    </div>
</div>