<h2>Пользователи</h2>
<form name="users-search" method="post" action="${pageContext.request.contextPath}/admin?action=find">
    <input type="text" placeholder="Искать по ID или логину" value="${q}" name="q">
    <button type="submit">Поиск</button>
</form>

<table border="0" cellpadding="1" cellspacing="1" style="width: 100%">
    <tbody>
    <tr>
        <td><b>ID</b></td>
        <td><b>Ник</b></td>
        <td><b>Часов</b></td>
        <td><b>Ранг</b></td>
        <td><b>Прочее</b></td>
    </tr>
    <c:forEach itemEntities="${users}" var="user" varStatus="itemEntity">
        <tr>
            <td>${user.pdaId}</td>
            <td>${user.login}</td>
            <td>${user.registrationDate}</td>
            <td>${user.xp}</td>
            <td><a href="#zatemnenie">Изменить</a>
                <div cid="zatemnenie">
                    <window>
                        <a href="#close_window" class="close_window">X</a>
                        <p>Email: ${user.email};</p>
                        <p>Статус бана: ${user.blocked};</p>
                        <p>Группировка:
                            <c:choose>
                                <c:when test="${user.gang == 0}">Одиночки</c:when>
                                <c:when test="${user.gang == 1}">Бандиты</c:when>
                                <c:when test="${user.gang == 2}">Военные</c:when>
                                <c:when test="${user.gang == 3}">Свобода</c:when>
                                <c:when test="${user.gang == 4}">Долг</c:when>
                                <c:when test="${user.gang == 5}">Монолит</c:when>
                                <c:when test="${user.gang == 6}">Наёмники</c:when>
                                <c:when test="${user.gang == 7}">Ученые</c:when>
                                <c:when test="${user.gang == 8}">Чистое небо</c:when>
                                <c:otherwise>undefined</c:otherwise>
                            </c:choose>
                            ;
                        </p>

                        <p>Денег: ${user.money};</p>
                        <form name="add_money" method="post"
                              action="${pageContext.request.contextPath}/admin?action=addMoney&pda=${user.pdaId}">
                            <input type="number" placeholder="Добавить денег" value="${money}" name="money">
                            <button type="submit">Добавить</button>
                        </form>
                        Добавить снаряжение:
                        <form name="add_gun" method="post" action=".php">
                            <select typegun>
                                <option typegun>Броня</option>
                                <option typegun>Пистолет</option>
                                <option typegun>Пистолет</option>
                                <option typegun>Пистолет</option>
                            </select>
                        </form>
                        <form name="add_gun_id" method="post" action="">
                            <input type="text" placeholder="ID снаряжения">
                            <button type="submit">Добавить</button>
                        </form>
                    </window>
                </div>
            </td>
        </tr>
    </c:forEach>
    </tbody>
</table>

