<form name="addArticle" method="post" action="#" th:action="@{/utility/articles/save}" th:object="${article}">
    <div class="mb-3">
        <label for="title" class="form-label">Заголовок</label>
        <input type="text" class="form-control" id="title" th:field="*{title}">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Ссылка на картинку</label>
        <input type="email" class="form-control" id="email" th:field="*{image}">
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Описание</label>
        <input type="text" class="form-control" id="description" th:field="*{description}">
    </div>
    <textarea name="content" th:field="*{content}" id="editor"></textarea>
    <input type="hidden" th:field="*{id}"/>
    <button type="submit" class="btn btn-primary">Добавить/изменить статью</button>
</form>

<script type="text/javascript">
    const editor = Jodit.make('#editor', {
        "language": "ru",
        "theme": "dark",
        "disablePlugins": "about"
    });
</script>
</div>
