<form name="addArticle" method="get"
      th:action="@{/utility/articles/create}">
    <button type="submit">Добавить статью</button>
</form>

<th:block th:each="a : ${articles}">
    <div>
        <hr>

        <div class="btn-group" role="group" aria-label="Basic example">
            <form name="removeArticle" method="get"
                  th:action="@{'/utility/articles/remove/' + ${a.id}}">
                <button type="submit" class="btn btn-danger">Удалить статью</button>
            </form>
            <form name="editArticle" method="get"
                  th:action="@{'/utility/articles/edit/' + ${a.id}}">
                <button type="submit" class="btn btn-primary">Изменить статью</button>
            </form>
            <form name="showArticle" method="get"
                  th:action="@{'/feed/' + ${a.id}}">
                <button type="submit" class="btn btn-link">Показать статью</button>
            </form>
        </div>


        <h1 th:text="'Название:' + ${a.title}"/>
        <h1 th:text="'Описание:' + ${a.description}"/>
        <h1 th:text="'Ссылка на картинку:' + ${a.image}"/>
        <h1 th:text="'Время публикации:' + ${a.published}"/>
        <hr>
    </div>
</th:block>

</div>
