<form name="addArticle" method="get"
      th:action="@{/utility/articles/}">
    <button type="submit">Добавить статью</button>
</form>

<th:block th:each="a : ${articles}">
    <div>
        <hr>
        <form name="removeArticle" method="get"
              th:action="@{'/utility/articles/remove/' + ${a.id}}">
            <button type="submit">Удалить статью</button>
        </form>
        <form name="editArticle" method="get"
              th:action="@{'/utility/articles/' + ${a.id}}">
            <button type="submit">Изменить статью</button>
        </form>
        <form name="showArticle" method="get"
              th:action="@{'/feed/' + ${a.id}}">
            <button type="submit">Показать статью</button>
        </form>
        <h1 th:text="'Название:' + ${a.title}"/>
        <h1 th:text="'Описание:' + ${a.description}"/>
        <h1 th:text="'Ссылка на картинку:' + ${a.image}"/>
        <h1 th:text="'Время публикации:' + ${a.published}"/>
        <hr>
    </div>
</th:block>


<script type="text/javascript">
    var editor = new Jodit('#editor', {
        uploader: {
            url: 'https://api.artux.net/pda/files'
        },
        "language": "en",
        "theme": "dark",
        "disablePlugins": "about"
    });
</script>
</div>
